<!DOCTYPE html>
<html lang="en">
<body>
    <!--Cabecera del album-->
    <section class="jumbotron text-center">
        <div class="container">
          <h1>Reforzamiento casa lagartos</h1>
        </div>
    </section>
    <!--Contenido de este-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/1.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/9.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/8.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/7.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/6.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/5.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/4.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/3.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/2.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/17.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/16.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/15.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/14.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/13.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/12.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("casalagartos/11.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>


        </div>
    </div>
</body>
</html>