<!DOCTYPE html>
<html lang="en">
<body>
    <!--Cabecera del album-->
    <section class="jumbotron text-center">
        <div class="container">
          <h1>RESTAURACION Y REFORZAMIENTO CASA DE LA CULTURA</h1>
        </div>
    </section>
    <!--Contenido de este-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("cultura/1.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("cultura/2.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 200xp; height: 200xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("cultura/3.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("cultura/4.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("cultura/8.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("cultura/6.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("cultura/7.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("cultura/5.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 bg-warning">
                    <%= image_tag("cultura/9.jpg", class:"featurette-image img-fluid mx-auto", alt:"100x100", style:"width: 400xp; height: 400xp;") %>
                </div>
            </div>
            

        </div>
    </div>
</body>
</html>