<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar trabajador</title>
</head>
<body>
  <div class="card">
    <div class="row">
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <h1 class="text-gray-900 mb-4">Actualizar datos</h1>
            </div>
        <%= form_for @fellow do |f| %>
        <div>
            <h1><%= f.label :nombre %></h1>
            <%= f.text_field :nombre,  class:"form-control form-control-user" %>
        </div>
        <div>
            <h1><%= f.label :cedula %></h1>
            <%= f.number_field :cedula,  class:"form-control form-control-user" %>
        </div>
    <div>
        <br>
        <br>
        <div>
        <%= f.submit %>
    </div>
<% end %>
        </div>
        </div>
    </div>
  </div>
</body>
</html>

   
    
    

   

  